/* Custom Classes */
.title {
	color: grey;
}
.title-sm {
	color: grey;
	font-size: 10pt;
}
.title-burnt-red {
	color: rgb(116, 20, 12);
}
.subtitle {
	/* color: grey; */
	font-style: italic;
}
.purpose-page {
	color: green !important;
}

.encase {
	border: 2px solid black;
	border-radius: 20px;

	padding-top: 10px;
	margin-bottom: 20px;
}
.encase-round {
	border: 2px solid black;
	border-radius: 50px;

	padding-top: 10px;
	margin-bottom: 20px;
}
.encase-block {
	border: 1px solid black;
	border-radius: 0px;

	padding-top: 10px;
	margin-bottom: 20px;
}
.encase-bg {
	border: none;
	border-radius: 30px;
	background: lightgrey;

	width: 75%;
	height: 75px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;

	display: table;

	text-align: center;
}
.encase-blue {
	border-color: rgb(0, 12, 138);
}
.encase-orange {
	border-color: rgb(237, 111, 45);
}
.encase-green {
	border-color: rgb(55, 125, 33);
}
.encase-light-blue {
	border-color: rgb(90, 129, 184);
}
.encase-purple {
	border-color: rgb(93, 18, 99);
}
.encase-yellow {
	border-color: rgb(255, 253, 83);
}
.encase-burnt-red {
	border-color: rgb(116, 20, 12);
}

.text-burnt-red {
	color: rgb(116, 20, 12) !important;
}
.text-blue {
	color: rgb(0, 6, 110) !important;
}
.text-grey {
	color: rgb(119, 119, 120) !important;
}
.text-page-tab {
	font-size: 14pt !important;
	color: rgb(51, 51, 51) !important;
}

.breathe-right {
	width: 100%;
	margin-right: 10px;
}
.breathe-left {
	width: 100%;
	margin-left: 10px;
}

.fill {
	width: 100% !important;
}

.vl {
	border-left: 1px solid black;
	height: 100%:
}

.index-link {
	padding-top: 10px !important;
	padding-bottom: 10px !important;

	display: table-cell;
	vertical-align: middle;

	text-decoration: none;
	color: black;
}

.save-link {
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;

	font-size: 16;
	font-weight: bold;

	background-color: red !important;
	text-decoration: none;
	color: white!important;
}
.save-link:hover {
	background-color: #ff8080 !important;
	cursor: pointer;
}

.body_content {
	position: relative;
	top: 60px;
}

.oval {
	width: 100%;
	height: 100%;
	border: 2px solid black !important;
	border-radius: 50%;
}

.flush {
	padding: 0px !important;
}

/* Body */
body {
	padding-top: 20px;

	font-size: 16px !important;
}

hr.title-line {
	border-top: 1px solid black;
}

/* Class Modifiers */
.form-group {
	width: 100%;
}

textarea {
	min-height: 100px;
	font-size: 12px !important;
	color: black !important;
}
textarea.small-input {
	min-height: 40px !important;
	height: 40px;
}
textarea.medium-input {
	min-height: 70px !important;
	height: 70px;
}
textarea.medium1-input {
	min-height: 150px !important;
	height: 150px;
}
textarea.medium2-input {
	min-height: 200px !important;
	height: 200px;
}
textarea.large-input {
	min-height: 300px !important;
	height: 300px;
}
textarea.no-border {
	border-style: none;
}
textarea.thick {
	border-width: 1.5px;
}
textarea.black {
	border-color: black;
}
textarea.blue {
	border-color: rgb(0, 12, 138);
}
textarea.light-blue {
	border-color: rgb(90, 129, 184);
}
textarea.purple {
	border-color: rgb(93, 18, 99);
}
textarea.red {
	border-color: red;
}
textarea.green {
	border-color: rgb(55, 125, 33);
}
textarea.yellow {
	border-color: rgb(255, 253, 83);
}
textarea.grey {
	border-color: grey;
}
textarea.pink {
	border-color: pink;
}
textarea.orange {
	border-color: rgb(237, 111, 45);
}
textarea.burnt-red {
	border-color: rgb(116, 20, 12);
}
textarea.page-tab {
	border-color: rgb(51, 51, 51);
}

input.input {
	font-size: 12px !important;
	color: black !important;
}
input.title-border {
	border: 0;
	border-bottom: 1px solid black;
	width: 80%;
}
input.no-border {
	border-style: none;
}
input.black {
	border-color: black;
}
input.blue {
	border-color: rgb(0, 12, 138);
}
input.light-blue {
	border-color: rgb(90, 129, 184);
}
input.purple {
	border-color: rgb(93, 18, 99);
}
input.red {
	border-color: red;
}
input.green {
	border-color: rgb(55, 125, 33);
}
input.yellow {
	border-color: rgb(255, 253, 83);
}
input.grey {
	border-color: grey;
}
input.pink {
	border-color: pink;
}
input.orange {
	border-color: rgb(237, 111, 45);
}
input.burnt-red {
	border-color: rgb(116, 20, 12);
}

div.no-border {
	border-style: none;
}
div.black {
	border-color: black;
}
div.blue {
	border-color: rgb(0, 12, 138);
}
div.light-blue {
	border-color: rgb(90, 129, 184);
}
div.purple {
	border-color: rgb(93, 18, 99);
}
div.red {
	border-color: red;
}
div.green {
	border-color: rgb(55, 125, 33);
}
div.yellow {
	border-color: rgb(255, 253, 83);
}
div.grey {
	border-color: grey;
}
div.pink {
	border-color: pink;
}
div.orange {
	border-color: rgb(237, 111, 45);
}
div.burnt-red {
	border-color: rgb(116, 20, 12);
}

div.input {
	font-size: 12px !important;
	color: black !important;
	display: inline-block !important;
	border-width: 1px;
	border-style: solid;
}
div.title-border {
	border: 0;
	border-bottom: 1px solid black;
	width: 80%;
}

div.regular {
	min-height: 100px;
	font-size: 12px !important;
	color: black !important;
}
div.small-input {
	min-height: 40px !important;
	height: 40px;
}
div.medium-input {
	min-height: 70px !important;
	height: 70px;
}
div.medium1-input {
	min-height: 150px !important;
	height: 150px;
}
div.medium2-input {
	min-height: 200px !important;
	height: 200px;
}
div.large-input {
	min-height: 300px !important;
	height: 300px;
}
div.no-border {
	border-style: none !important;
}

div.textarea {
	font-size: 12px !important;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 6px 12px 6px 12px !important;
}

table, th, td {
	border: 1px solid black;
}

/* Footer */
hr.footer-line {
	border-top: 1px solid black;
}

.logoCopyrightClone {
	position: relative;
	top: -40px;
}

p.copyright {
	font-size: 8px;
}
p.hint {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

/* Header */

.header-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.055);
  border-radius: 0px;
  min-height: 60px;

  background-color: #ffffff;
}

.header-area .main-nav.dropdown {
  overflow: hidden;
}

.header-area .main-nav .dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: blue;
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.header-area .main-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  cursor: pointer;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.header-area .main-nav .dropdown-content a {
  float: none;
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

a:hover  {
	color: darkblue !important;
}

.header-area .main-nav .dropdown-content {
  background-color: #ffffff;
}

.header-area .main-nav .dropdown:hover .dropdown-content {
  display: block;
}

.logo-img {
	height: 40px !important;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width:auto;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 0px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 0.75px;
}

.header-area .main-nav .nav li a:hover {
  color: #ffffff;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.header-area.header-sticky {
  min-height: 50px;
}

.header-area.header-sticky .logo {
  margin-top: 15px;
}

.header-area.header-sticky .nav {
  margin-top: 10px !important;
}

.header-area.header-sticky .nav li a {
  color: blue;
}

.header-area.header-sticky .nav li a.active {
  color: blue;
}
